@CHARSET "ISO-8859-1";

body {
	font-family: Tahoma, Arial, Verdana;
	margin: 0px;
	background-color: white;
	background-image: url(../imagens/fundoPrincipal.jpg);
	background-repeat: repeat-x;
}

p {
	0px;
}

#tudo {
	width: 960px;
	position: absolute;
	margin-left: -480px;
	left: 50%;
}

#cabecalho, #cabecalhoPainel {
	margin-top: 0px;
	float: left;
}

#navbar, #navbarPainel {
	background-color: #ffc35c;
	margin-top: 2px;
	float: left;
	width: 960px;
	height: 40px;
	line-height: 35px;
}

#navbarPainel {
	color: white;
	font-size: 14px;
	font-weight: bold;	
}
		#navbarPainel .saudacao {		
			margin: 0px 0px 0px 10px;		
			float: left;	
		}
		
		#navbarPainel .links {			
			margin: 0px 10px 0px 0px;
			float: right;		
		}
		
				#navbarPainel .links a:link, #navbarPainel .links a:visited, #navbarPainel .links a:active {
					text-decoration: none;
					color: white;
				}
				
				#navbarPainel .links a:hover {
					color: black;
				}

		#navbarBusca {
			float: left;
			margin-left: 8px;
			width: 400px;
			margin-top: 1px;
		}
		
				#formBusca .Botao {
					border: none;
					width: 100px;
					height: 22px;
					background-color: orange;
					color: white;
					font-weight: bold;
				}
				
				#formBusca .Campo {
					border: none;
					height: 19px;
					background-color: #fff4cc;
					width: 200px;
					color: orange;
				}
		
		#navbarIcons {
			float: right;
			margin-top: 4px;
			margin-right: 8px; 
		}




#content {
	float: left;
	margin-top: 2px;
}

#content p, #content h1, #content h2 {
	margin: 0px 10px;
	line-height: 30px;
}

		#content h1 {
			color: orange;
		}
		
		#content h2, #content h3 {
			color: #7aa61b;
			margin-top: 20px;
			margin-left: 10px;
			margin-right: 10px;
		}
		
		.imagens {
			margin: 10px 10px 0px 0px;
			border: 4px solid orange;
			float: left;
		}
		
		.listaVereadores {
			list-style-type: none;
			margin: 0px 10px;
			padding: 0px;
		}
		
				.listaVereadores li {
					line-height: 50px;
				}

		#esquerda {
			width: 200px;
			float: left;
		}
		
				#menu {
					width: 200px;
					margin: 0px;
					padding: 0px;
				}				
				
				#menuPrincipal {
					width: 200px;
					margin: 0px;
					list-style-type: none;
					padding: 0px;
					bacground-color: #ffffff;
				}
				
						#menuPrincipal li {
							padding: 0px;
							margin: 0px;
							border-bottom: 1px dotted #ffc35c;
						}
						
								#menuPrincipal li a:link,
								#menuPrincipal li a:active,
								#menuPrincipal li a:visited {
									display: block;
									width: 195px;
									background-color: #ffffff;
									line-height: 30px;
									color: #e77600;
									text-decoration: none;
									padding-left: 5px;
								}
								
								#menuPrincipal li a:hover {
									background-color: #ffc35c;
									color: #ffffff;
								}
								
		#direita {
			width: 758px;
			float: left;
			margin-left: 2px;
			text-align: justify;
			line-height: 25px;
		}
		
				#slider {
					width: 758px;
					background-color: yellow;
					float: left;
					height: 255px;
				}
				
				#noticias {
					width: 300px;
					float: left;
					height: 430px;
					margin-top: 2px;					
				}
				
						.NoticiasBoxAll {
							width: 738px;
							float: left;
							margin-bottom: 2px;
							background-color: #fff4cc;
							margin-left: 10px;
						}

						.NoticiasBoxHome {
							width: 300px;
							float: left;
							margin-bottom: 2px;
							background-color: #fff4cc;
						}
						
								.NoticiasBoxHome .notTitulo, .NoticiasBoxAll .notTitulo {
									margin: 0px;
									font-size: 14px;
									line-height: 20px;
									font-weight: bold;
								}
								
								.NoticiasBoxHome p, .NoticiasBoxAll p {
									margin: 0px;
									font-size: 12px;
									line-height: 20px !important;
								}
								
								.NoticiasBoxHome a:link, .NoticiasBoxHome a:active, .NoticiasBoxHome a:visited, 
								.NoticiasBoxAll a:link, .NoticiasBoxAll a:active, .NoticiasBoxAll a:visited
								{									
									text-decoration: none;
									color: orange !important;								
								}
								
								.NoticiasBoxHome a:hover,
								.NoticiasBoxAll a:hover
								{
									color: #7aa61b !important;
								}
								
								.LinkPag a:link, .LinkPag a:visited, .LinkPag a:active {
									text-decoration: none;
									color: orange;
									display: block;
									width: 40px;
									line-height: 40px;
									background-color: #fff4cc;
									float: left;
									margin-right: 3px;
									text-align: center;				
								}
								
								.LinkPag a:hover {
									background-color: orange;
									color: #fff4cc;
								}
				
				#intinerario {
					width: 456px;
					background-color: blue;
					float: left;
					height: 200px;
					margin-top: 2px;
					margin-left: 2px;					
				}
				
				#eventos {
					width: 279px;
					background-color: #fff4cc;
					float: left;
					height: 228px;
					margin-top: 2px;
					margin-left: 2px;					
				}
				
						#eventos h2 {
							margin: 0px;
							color: orange !important;
						}
						
						#eventos a:link, #eventos a:visited, #eventos a:active {
							color: orange !important;
							text-decoration: none !important;
							font-size: 12px !important;
						}
						
						#eventos a:hover {
							color: #7aa61b !important;
						}
						
						.linkEventos a:link, .linkEventos a:visited, .linkEventos a:active{
							text-decoration: none;
							color: orange;
							font-weight: bold;
						}
						
						.linkEventos a:hover {
							color: #7aa61b;
						}
				
				#banners {
					width: 175px;
					float: left;
					height: 228px;
					margin-top: 2px;
					margin-left: 2px;					
				}
				
						#banners img {
							margin-bottom: 2px;
						}
								
#admin_content {
	float: left;
	margin-top: 2px;
	width: 960px;
	background-color: #ffeed0;
}

		#admin_content p, #admin_content h1, #admin_content h2 {
			margin: 0px 30px;
		}
		
		#admin_content h1, #admin_content h2 {
			color: #e77600;
		}

		#admin_content .itensPainel {
			width: 240px;
			text-align: center;
			margin: 10px 0px 0px 0px;
			height: 180px;
			float: left;
		}
		
		#admin_content .itensPainel p {
			margin: 0px;
		}
		
		#admin_content .itensPainel a:link,
		#admin_content .itensPainel a:visited,
		#admin_content .itensPainel a:active {
			color: #e77600;
			font-weight: bold;
			text-decoration: none;
		}
		
		#admin_content .itensPainel a:hover {
			color: black;
		}
		
		#admin_content h2 a:link,
		#admin_content h2 a:visited,
		#admin_content h2 a:active {
			color: #e77600;
			text-decoration: none;
		}
		
		#admin_content h2 a:hover {
			color: black;
		}		
		
		#admin_content .tabListar {
			width: 900px;
			background-color: #ffeed0;
			margin-left: 30px;
		}
		
				#admin_content .tabListar th {
					background-color: #e77600;
					line-height: 35px;
					color: white;
					font-size: 18px;
				}
				
				#admin_content .tabListar td {
					background-color: #ffc35c;
					line-height: 25px;
					padding: 5px;
				}
				
				#admin_content .FormCampo {
					color: #e77600;
					font-weight: bold;
					margin-bottom: 20px;
				} 
				
						#admin_content .FormCampo input, #admin_content .FormCampo textarea {
							width: 650px;
							line-height: 30px;
							border: none;
							background-color: #ffc35c;
							color: #ffeed0;
							font-size: 16px;							
						}
						
				#admin_content .FormBotao {
					color: #ffeed0;
					background-color: #e77600;
					width: 250px;
					border: none;
					line-height: 40px;
					font-size: 18px;
				} 			


#rodape {
	background-color: #ffc35c;
	width: 960px;	
	text-align: center;
	float: left;
	margin-top: 2px;
}

		#rodape p {
			margin: 0px;
			line-height: 20px;
			color: #fff4cc;
			font-size: 14px
		}
		
		#rodape a:link, #rodape a:visited, #rodape a:active {
			color: #7aa61b;
			text-decoration: none;
			font-weight: bold;
		} 
		
		#rodape a:hover {
			color: #fff4cc;
		}
		
		
		
		

		
		/*parte do css usado pelo formulario do itinerario dos busaos na administracao ---- Luis Ungur--- */						
				#admin_content .FormCampobus {
					color: #e77600;
					font-weight: bold;
					margin-bottom: 20px;
				} 
				
						#admin_content .FormCampobus input {
							width: 650px;
							line-height: 30px;
							border: none;
							background-color: #ffffff;
							color: #303030;
							font-size: 16px;
							margin-right: 10px;							
						}
						#admin_content .FormCampobus textarea {
							width: 650px;
							line-height: 20px;
							border: none;
							background-color: #ffffff;
							color: #303030;
							font-size: 16px;
							margin-right: 10px;						
						}
						#admin_content .FormCampobus label {
							width: 180px;
							line-height: 20px;
							text-align: right;
							float: left;
							color: #303030;
							font-size: 16px;
							margin-right: 10px;
						}
/* -------------------------------------- Fim ----------------------------------------------- */






/*------------------------------------- ARI INICIO --------------------------------------------*/


#user_content {
	min-height: 440px;
}

#user_content .tabListar {
			width: 700px;
			background-color: #ffeed0;
			margin-left: 30px;
		}

#user_content .linksAlbuns a:link,
#user_content .linksAlbuns a:visited,
#user_content .linksAlbuns a:active {
	margin-left: 20px;
	color: #e77600;
	font-size:24px;
	font-weight: bold;
	text-decoration: none;
}

#user_content .linksAlbuns a:hover {
			color: black;
		}


#user_content .tabListar th {
					background-color: #e77600;
					line-height: 35px;
					color: white;
					font-size: 18px;
				}
				
				#user_content .tabListar td {
					background-color: #ffc35c;
					line-height: 25px;
					padding: 5px;
				}


#user_content .utilidade_listar h1 {
	
	color: #e77600;
	font-size:20px;
	font-weight: bold;
	text-decoration: none;
}
		
.linksAlbuns a:link,
.linksAlbuns a:visited,
.linksAlbuns a:active {
	margin-left: 20px;
	color: #e77600;
	font-size:24px;
	font-weight: bold;
	text-decoration: none;
	
}

.linksAlbuns a:hover {
			color: black;
		}
		
		
.utilidade_listar p {
	margin-left: 20px;
	margin-top:0px;
	margin-botton:0px;
	color: #e77600;
	font-size:16px;
	text-decoration: none;
}

.utilidade_listar h1 {
	margin-left: 20px;
	color: #e77600;
	font-size:20px;
	font-weight: bold;
	text-decoration: none;
}

.utilidade_listar a:link, 
.utilidade_listar a:visited, 
.utilidade_listar a:active {
	
	color: #e77600;
	font-size:16px;
	text-decoration: none;
}

.utilidade_listar a:hover {
			color: black;
		} 
		
		
/*------------------------------------------- ARI FIM  ---------------------------------*/		